@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Outfit:wght@400;700&family=Poppins:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.container{
    width: 320px;
    height: 612px;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    
}

.logo img{
  width: 30px;
  height: 30,4px; 
  
    
}

.container h6 {
 width: 320px;
 height: 27px;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 89px;
 font-size: 31px;
font-weight: 700;
font-family: "inter";
margin-bottom: 24px;

   
}

.textfield{

   width: 320px;
   height: 64px; 
   display: flex;
   align-items: center;
   justify-content: center;
  

   
}

.textfield input{
   
    width: 320px;
    height: 52px;
    border: 1px solid #0FA47F;
    outline: none;
    border-radius: 4px;
    
}

label{
    position: absolute;
    top:313px;
    left: 670px;
    color:#0FA47F;
    background: #ffffff;
   
}


.text1{
    width: 320px;
    height: 79px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    border: 1px solid #C3C8CF;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 13px;
 
}

.checks{
    width: 145px;
    height: 30px;
    display: inline-flex;
    margin-left: 13px;
    margin-right: 100px;
    
}

.checks input{
    width: 30px;
    height: 30px;
    font-size: 15px;
    font-weight: 500;
    line-height: 27px;
    color: #2E3339;

}

.checks h1{
    width: 107px;
    height: 23px;
    display: flex;
    align-self: center;
    justify-content: center;

}

.text1 img{
    width: 60px;
    height: 48px;
}

button{
    width: 320px;
    height: 50px;
    background-color:  #0FA47F;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
   
}

.text2 h1 {
width: 320px;
height: 27px;
 display: flex;
 margin-top: 20px;
 font-size: 14px;
font-weight: 500;

}

.text2 a{
    margin-left: 10px;
    color: #0FA47F;
    
}

h2{
    font-size: 15px;
}  


.text2 img{
        width:320px ;
        height: 27px;
        margin-top: 15px;
       display: flex;
       align-items: center;
       justify-content: center;
       margin-left: 10px;

    }

.text3 {
    
    width: 320px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    font-family: "inter medium";
    border-radius: 4px;
    border: 1px solid #C3C8CF; 

    }
    .text3 h1{

        margin-right: 71px;
       
    }

    h1,h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        margin-left: 20px;
       
    }


   
    .text4 {
    
        width: 320px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
        border-radius: 4px;
        margin-top: 12px;
        border: 1px solid #C3C8CF; 
        
        }



